.wrapper{
  display: flex;
  flex-direction: column;
  gap: 60px;
  h1{
    font-weight: 400;
    font-size: 128px;
    line-height: 90%;
    color: #232120;
  }
  .content{
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-bottom: 180px;
  }
}