.wrapper{
  display: flex;
  margin-bottom: 180px;
  justify-content: space-between;
  gap: 35px;

  .image-container-top{
    display: flex;
    justify-content: center;
    align-items: center;
    .image{
      width: auto;
    }
  }
  .image-container-bottom{
    .image{
      width: auto;
    }
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .title{
      border-bottom: 2px solid #E76325;
      color:#E76325;
      font-weight: 400;
      font-size: 128px;
      line-height: 90%;
    }
    .subtitle{
      font-weight: 400;
      font-size: 80px;
      line-height: 90%;
      text-align: center;
    }
    .text{
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      max-width: 679px;
    }
  }
}