.wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 180px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;

    .title {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #7E7C7A;
      max-width: 515px;
      width: 100%;
    }

    h2 {
      font-weight: 400;
      font-size: 80px;
      line-height: 90%;
    }
    @include media-max(1300px){
      align-items: center;
      flex-direction: column;
    }
    @include media-max(720px){
      align-items: flex-start;
      h2 {
        font-size: 32px;
      }
    }
  }
  .cards{
    display: flex;
    gap: 145px;
    overflow-x: scroll;
    .content{
      display: flex;
      flex-direction: column;
      gap: 25px;
      align-items: center;
      flex: 0 1;

      .image{
        width: auto;
      }

      .text{
        font-weight: 400;
        font-size: 22px;
        line-height: 140%;
      }
    }
  }
  @include media-max(720px){
    margin-bottom: 80px;
  }
}