.form-present{
  border-bottom: 1px solid #EAE7DC;
  border-top: 1px solid #EAE7DC;

  .wrapper{
    display: flex;
    justify-content: space-between;

    .form-content{
      padding: 60px 0;
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 705px;
      width: 100%;

      h2{
        font-weight: 400;
        font-size: 80px;
        line-height: 90%;
      }

      .description{
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #5B5857;

        .link{
          color: #E76325;
        }
      }
    }

    .form{
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-family: 'ManropeRegular', sans-serif;

      .inputs{
        display: flex;
        gap: 10px;
      }

      .buttons{
        display: flex;
        gap: 10px;
        .privacy{
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          flex: 0 1 50%;
          color: #5B5857;
          i{
            color: #E76325;
          }
          .link{
            color: #232120;
          }
        }
        button{
          flex: 1 1 ;
        }
      }
    }
  }
}